* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
    overflow-x: hidden;
}

body {
    background: #000;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
            -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
            -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 9%;
    z-index: 10000;
    background: #000;              
}

.header .logo {
    font-weight: bolder;
    color: #fff;
    font-size: 3rem;
}

.header .logo span {
    color: #f00;
}

.header .navbar a {
    display: inline-block;
    padding: 1.5rem 2rem;
    font-size: 1.7rem;
    color: #fff;
}

.header .navbar a:hover {
    background: red;
}

.home {
    padding: 0;
    margin-top: 5rem;
}

.home .slide {
    min-height: 70vh;
    background-size: cover !important;
    background-position: center !important;
    padding: 2rem 9%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
            -ms-flex-align: center;
    align-items: center;
}

.home .slide .content {
    width: 60rem;
}

.home .slide .content span {
    font-size: 2rem;
    color: red;
    display: block;
    animation: moveInRight 3s;
}

@keyframes moveInRight {
    0% {
        transform: translateX(-300px);
    }
    80%{
        transform: translateX(20px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes moveInLeft {
    0% {
        transform: translateX(1000px);
    }
    80%{
        transform: translateX(-20px);
    }
    100% {
        transform: translateX(0px);
    }
}

.home .slide .content h3{
    font-size: 5rem;
    color: #fff;
    padding: 1rem 0;
    animation: moveInLeft 3s;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 2.8rem;
    padding-right: 3rem;
    background: linear-gradient(130deg, red 93%, transparent 90%);
    color: #fff;
    cursor: pointer;
    font-size: 1.7rem;
    animation: moveInUp 3s;
}

@keyframes moveInUp {
    0% {
        transform: translateY(1000px);
    }
    80%{
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}

.btn:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
}

.swiper-pagination-bullet{
    height: 2rem;
    width: 2rem;
    background: #fff;
    border-radius: 0;
}

/* about section */

.about-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.about-container img {
    width: 50%;
    height: 90vh;
}

.about-content {
    width: 50%;
    margin: 3%;
}

.about-content .about-tag {
    color: #f00;
    margin-bottom: 2%;
    font-size: 2rem;
}

.about-content .about-heading {
    color: #fff;
    font-size: 3rem;
}

.about-para {
    color: grey;
    margin-top: 3%;
    text-align: left;
    word-spacing: .6em;
    line-height: 2rem;
    font-size: 1.3rem;
}

.tips-container {
    height: 50vh;
    width: 100%;
    margin-top: 5%;
    position: relative;
}

.tip1 {
    width: 50%;
    position: absolute;
}

.tip2 {
    width: 50%;
    position: absolute;
    right: 0;
}

.tip3 {
    width: 50%;
    position: absolute;
    left: 0;
    top: 30%;
}

.tip4 {
    width: 50%;
    position: absolute;
    right: 0;
    top: 30%;
}

.tip-para {
    margin-top: 2%;
    color: grey;
    display: block !important;
}

.icon-color{
    font-size: 2rem;
    color: #f00;
    margin-right: 3%;
}

.icon-text-color {
    color: #fff;
    font-size: 2rem;
}

.tips-container h1 {
    display: inline-block;
}

.rm-container {
    position: absolute;
    top: 60%;
}

/* Features section */

.features-container {
    position: relative;
    height: 100vh;
    padding: 40px;
}

.features-container hr {
    background: grey;
    height: 1px;
    cursor: pointer;
}

.gym-features h1 {
    font-size: 2rem;
    color: #f00;
    padding: 10px;
    border: 1px solid grey;
    width: fit-content;
    position: absolute;
    background-color: black;
    left: 50%;
    transform: translate(-50%, -50%);
}

.features-img-container {
    padding: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
}

.features-img-container img {
    height: 200px;
    width: 300px;
    border-radius: 50px;
    margin-top: 1%;
    margin-right: 20px;
}

.features-img-container img:hover {
    transform: scale(1.1);
    transition: all .5s linear;
}

.pricing-container {
    display: flex;
    justify-content: space-around;
}

.pricing-plan {
    color: #f00;
    font-size: 1.5rem;
    text-transform: capitalize;
    letter-spacing: 3px;
}

.pricing-plan-heading {
    color: #fff;
    font-size: 2.2rem;
    font-weight: 100;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 2%;
}

.pricing-plan-para {
    color: gray;
    margin-top: 4%;
    font-size: 1.3rem;
}

.card-size{
    width: 30vw;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgb(33, 31, 31), -3px -3px 10px rgb(64, 67, 64),
                inset 3px 3px 10px rgb(114, 106, 106), inset -3px -3px 10px rgb(134, 142, 134)
}

.card-size:hover {
    transform: scale(1.03);
    transition: all .3s linear;
}

.pricing-plan-features {
    margin-top: 5%;
    color: gray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.pricing-plan-features i {
    padding-top: 10px;
}

.pricing-plan-feature {
    display: inline;
}

.plan-price {
    color: #fff;
    text-align: center;
    margin-top: 2%;
    font-size: 2rem;

}

.plan-price span {
    color: #f00;
    margin-left: 1%;
    font-size: 5rem;
}

/* Blog */

.blog-container {
    margin-top: 3%;
    text-align: center;
    padding: 20px;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog-heading {
    color: #f00;
    font-size: 1.5rem;
    letter-spacing: 3px;
}

.blog-discount {
    color: #fff;
    margin-top: 2%;
    font-size: 5rem;
    text-transform: uppercase;
}

.blog-para {
    color: gray;
    letter-spacing: 2px;
    margin-top: 2%;
    padding: 0px 200px;
}


